experiment_name: forecast_m4_dlinear
experiment_overwrite: true
seed: 2026
model_name: dlinear
dataset_name: m4
loss_name: smape
optim_name: adam

task:
  forecast:
    seq_len: 36
    label_len: 18
    pred_len: 18

data:
  split:
    train: 0.7
    val: 0.2
    test: 0.1
  loader:
    batch_size: 16
    num_workers: 2
    persistent_workers: true
    train:
      drop_last: false
    eval:
      drop_last: false

model:
  dlinear:
    name: dlinear
    task_name: forecast
    enc_in: 1
    seq_len: 36
    pred_len: 18
    moving_avg: 25
    individual: false

dataset:
  m4:
    huggingface_repo: ailuntz/m4
    name: m4
    root: datasets/m4
    data_path: training.npz
    infer_data_path: datasets/m4/Daily-test.csv
    seasonal_patterns: Monthly
    schema:
      date_col: id
      target: value
      features: S
      freq: null
      num_features: 1
      target_index: 0

loss:
  smape:
    name: smape

optim:
  adam:
    lr: 1e-3
    weight_decay: 0.0
    lradj: type1
    lr_gamma: 0.5

trainer:
  max_epochs: 10
  min_epochs: 1
  accelerator: auto
  devices: 1
  precision: 32

callbacks:
  early_stopping:
    monitor: val_loss
    mode: min
    patience: 10
    min_delta: 0.0

  model_checkpoint:
    monitor: val_loss
    mode: min
    save_top_k: 1
    save_last: true
    save_weights_only: false
    every_n_epochs: null
    every_n_train_steps: null
    train_time_interval: null
